this is for <%=recipeId%>

<form method="POST" action="/ingredients/<%=recipeId%>">
    
    <label for="ingrName">ingrname</label>
    <input name="ingrName" id="ingrName" type="text">
    </br>

    <label for="ingrMeasure">measure</label>
    <input name="ingrMeasure" id="ingrMeasure" type="text">
    </br>

    <label for="ingrQuantity">quantity</label>
    <input name="ingrQuantity" id="ingrQuantity" type="text">
    </br>
    <button id="editIngrs" type="submit">Add Ingr</button>

</form>r