<ul>
    <% categories.forEach(category => { %>
        <li>
            <a href="/categories/<%=category.id%>"><%= category.name %> </a>
        </li>
     <% }) %>
</ul>


<form method="POST" action="/categories">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Create New Tag</button>
</form>