Category: <%=category.name%>
</br>
Recipes: 
<% recipes.forEach(recipe => { %>
    <li>
        <%=recipe%> 
    </li>
<% }) %>





<form method="POST" action="/categories/<%=category.id%>/?_method=PUT">
    <input type="text" name="name"  id="name" value="<%=category.name%>">
    <button type="submit">Edit Name</button>
</form>