<h2 class=" p-5 text-4xl text-center">User Profile </h2>

<div class=" p-2 text-lg w-4/5 mx-auto">
    <h3>Name: <%=user.name%></h3>
    <h3>Email: <%=user.email%></h3>
    
    
    
    <p>You have added the following recipes: 
        <% recipes.forEach(recipe => { %>
            <li>
                <%=recipe.name %>
            </li>
        <% }) %>
    </p>
</div>
