


<form method="POST" action="/recipes/<%=recipe.id%>/?_method=PUT">
    <label class="mx-auto block text-center" for="directions">Directions:</label>
    <input class="mx-auto block text-center" type="text" name="directions" id="directions" value="<%=recipe.directions%>">
    <label class="mx-auto block text-center" for="story">story:</label>
    <input class="mx-auto block text-center" type="text" name="story" id="story" value="<%=recipe.story%>">
    <label class="mx-auto block text-center" for="notes">notes:</label>
    <input class="mx-auto block text-center" type="text" name="notes" id="notes" value="<%=recipe.notes%>">
    <label class="mx-auto block text-center"for="img">image source URL</label>
    <input class="mx-auto block text-center" name="img" id="img" type="text" placeholder="image URL">

    <button type="submit" class="mx-auto block text-center">Confirm</button>
</form>

