<h2>Your Recipes</h2>
<ul>
<% recipes.forEach(recipe => { %>
    <li>
        <a href="/recipes/<%=recipe.id%>"><%=recipe.name %></a>
    </li>
<% }) %>
</ul>

<h3>Tags</h3>

<form method="POST" action="/categories">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <button type="submit">Create New Tag</button>
</form>