
<!-- <button>Create a recipe</button> -->
<div class="mt-20">
    <form method="POST" action="/recipes">
        <div class="mb-6">
            <label for="name" class="block mb-2 text-3xl font-medium text-black-900" ></label>
            <input type="text" id="name" name="name" class="mx-auto block p-4 w-96 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500"placeholder="Recipe Name">
        </div>      
        <button type="submit" class="block focus:outline-none text-white bg-black hover:bg-gray-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-auto ">Confirm</button>
    </form>
</div>
<!-- <button>Search for a recipe</button>
<div class="mt-20">
    <form method="POST" action="/recipes/search">
        <div class="mb-6">
            <label for="name" class="block mb-2 text-3xl font-medium text-black-900"></label>
            <input type="text" id="name" name="name" aria-label="recipe name" class="mx-auto block p-4 w-96 text-gray-900 bg-gray-50 rounded-lg border border-gray-300 sm:text-md focus:ring-blue-500 focus:border-blue-500"placeholder="Recipe Name">
        </div>      
        <button type="submit" class="block focus:outline-none text-white bg-black hover:bg-gray-800 focus:ring-4 focus:ring-black-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-auto ">Search</button>
    </form>
</div> -->










