<form method="POST" action="/recipes">
    <label for="name">Name</label>
    <input name="name" id="name" type="text">

    <!-- placeholder for now  -->
    
</br>    

    <button type="submit">Create Recipe</button>
</form>
</br>






