<form method="POST" action="/recipes/new">
    <label for="name">Name</label>
    <input name="name" id="name" type="text">

    <!-- placeholder for now  -->
    
</br>    
    <label for="directions">directions</label>
    <input name="directions" id="directions" type="text">
</br>
    <label for="notes">notes</label>
    <input name="notes" id="notes" type="text">
</br>
    <label for="story">story</label>
    <input name="story" id="story" type="text">

</br>
    <button type="submit">Create Recipe</button>
</form>
</br>
<div id="ingredientContainer">
    <!-- move this form to the recipe details page. basically, creating a new recipe 
    will only ask for the name. Then, we will redirect tot the recipe details page
    where we will add, edit, or delete any and all of the recipe details  -->

    



</div>






<script src="/javascript/addIngredients.js"></script>